<div id="pageTitle">
	<h1>Edit <%= @contact.first_name%></h1>
</div>

<div id="toolbar">
    <div id="leftItem" class="backButton"><%= link_to "Cancel", :action => :show, :id => @contact.object %></div>
    <div id="rightItem" class="regularButton"><%= link_to "Delete", :action => :delete, :id => @contact.object %></div>
</div>

<div id="content">
    <form method="POST" action="<%= url_for :action => :update %>">
            <input type="hidden" name="id" value="<%= @contact.object %>"/>
            <ul>
                
                <li>
                    <label for="contact[first_name]" class="fieldLabel">First name</label>
                    <input type="text" name="contact[first_name]" value="<%= @contact.first_name%>" <%= placeholder( "First name" ) %> />
                </li>
                
                <li>
                    <label for="contact[last_name]" class="fieldLabel">Last name</label>
                    <input type="text" name="contact[last_name]" value="<%= @contact.last_name%>" <%= placeholder( "Last name" ) %> />
                </li>
                
                <li>
                    <label for="contact[email_address]" class="fieldLabel">Email address</label>
                    <input type="text" name="contact[email_address]" value="<%= @contact.email_address%>" <%= placeholder( "Email address" ) %> />
                </li>
                
                <li>
                    <label for="contact[business_number]" class="fieldLabel">Business number</label>
                    <input type="text" name="contact[business_number]" value="<%= @contact.business_number%>" <%= placeholder( "Business number" ) %> />
                </li>
                
            </ul>
            <input type="submit" class="standardButton" value="Update" />
    </form>
</div>