<div id="pageTitle">
	<h1>Info</h1>
</div>

<div id="toolbar">
    <div id="leftItem" class="backButton"><%= link_to "Back", :action => :index %></div>
    <div id="rightItem" class="regularButton"><%= link_to "Edit", :action => :edit, :id => @contact['id'] %></div>
</div>

<div id="content">
    <ul>
        
        <li>
            <div class="itemLabel">First Name</div>
            <div class="itemValue"><%= @contact['first_name'] %></div>
        </li>
        
        <li>
            <div class="itemLabel">Last Name</div>
            <div class="itemValue"><%= @contact['last_name']%></div>
        </li>
        
        <li>
            <div class="itemLabel">Email</div>
            <div class="itemValue"><%= @contact['email_address']%></div>
        </li>
        
        <li>
            <div class="itemLabel">Business #</div>
            <div class="itemValue"><%= @contact['business_number']%></div>
        </li>
        
    </ul>
</div>