<div class="toolbar">
	<h1>Info</h1>
	<a class="button" href="<%=url_for(:action => :edit, :id => @contact['id'])%>">Edit</a>
</div>

<ul class="edgetoedge">
  <li>First Name <%=@contact['first_name']%></li>
  <li>Last Name <%=@contact['last_name']%></li>
  <li>Email Address <%= mailto(@contact['email_address'], @contact['email_address'])%></li>
  <li>Business Number <%= click_to_call(@contact['business_number'])%></li>
</ul>


